<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap5.css') }}">
</head>
<body>
<div class="m-4">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-8">
                <h1>上传文件</h1>
                <form action="" method=post enctype=multipart/form-data>
                    <div class="mb-3">
                        <label for="list" class="form-label">成绩单</label>
                        <input class="form-control" type="file" name=list>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3">直接生成</button>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
        </div>
    </div>
</div>
</body>
</html>